@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Roboto;
}
h1,h2{
    color:green;
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
}
h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.main-text{
    text-align:justify;
    margin-bottom: 20px;
}
.author-text{
    font-size: 22px;
    float:left;
}